<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <!--x5屏幕模式-->
    <meta name="x5-page-mode" content="app" />
    <!--input被点击时半透明灰色背景-->
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <style>
        p{
            margin:0;
        }
    </style>
    <link href="~/Content/css/base.css" rel="stylesheet" />
    <link href="~/Content/css/weui.min.css" rel="stylesheet" />
    <link href="~/Content/css/jquery-weui.min.css" rel="stylesheet" />

    <link href="~/iconfont/iconfont.css" rel="stylesheet" />
    @*<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>*@
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery-weui.min.js"></script>
    <script src="~/Scripts/template-web.js"></script>

    <script src="~/Scripts/common.client.js"></script>
    <script src="~/Scripts/slidepage.js"></script>
    @*<script src="~/Scripts/pubilc.js"></script>*@
    @*<link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <script src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <script src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>*@
    @*<script src="~/Scripts/jquery.min.js"></script>*@
    @*<script src="~/Scripts/common.client.js"></script>*@
</head>
    @RenderBody()
</html>