
@model LoginCacheInfo
<nav class="bar bar-tab">
    @if (Model==null||Model.RoleType == RoleType.Manager)
    {
        <a class="tab-item external active" href="/WorkOrder/Manager">
            <span class="icon icon-home"><img src="/Content/img/bottom_icon.png" height="20" width="20" /></span>
            <span class="tab-label">审批</span>
        </a>
    }
    else
    {
        <a class="tab-item external active" href="/Form/Repair">
            <span class="icon icon-home"><img src="/Content/img/bottom_icon.png" height="20" width="20" /></span>
            <span class="tab-label">报修单</span>
        </a>
    }
    <a class="tab-item external" href="/WorkOrder/Index">
        <span class="icon icon-home"><img src="/Content/img/bottom_icon1.png" height="20" width="20" /></span>
        <span class="tab-label">维修任务</span>
        @*<span class="badge">2</span>*@
    </a>
    <a class="tab-item external" href="/WorkOrder/Count">
        <span class="icon icon-home"><img src="/Content/img/bottom_icon2.png" height="20" width="20" /></span>
        <span class="tab-label">统计报表</span>
    </a>
</nav>
