<nav class="bar bar-tab">
    <a class="tab-item external active" href="~/Form/Repair">
        <span class="icon icon-home"><img src="~/Content/img/bottom_icon.png" height="20" width="20" /></span>
        <span class="tab-label">报修单</span>
    </a>
    <a class="tab-item external" href="~/Form/RepairTask">
        <span class="icon icon-home"><img src="~/Content/img/bottom_icon1.png" height="20" width="20" /></span>
        <span class="tab-label">维修任务</span>
        @*<span class="badge">2</span>*@
    </a>
    <a class="tab-item external" href="~/WorkOrder/Count">
        <span class="icon icon-home"><img src="~/Content/img/bottom_icon2.png" height="20" width="20" /></span>
        <span class="tab-label">统计报表</span>
    </a>
</nav>
