
@{
    ViewBag.Title = "用户登录";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<style lang="scss">
    .login_bg {
        background: url('/eduasset_chat/Content/img/login_bg.png');
        width: 100%;
        height: 100vh;
        background-size: cover;
    }

    .center {
        /*color: white;*/
        text-align: center;
        padding-top: 75%;
    }

    .title {
        font-size: .23rem;
        color: white;
    }

    .Etitle {
        color: white;
        margin-bottom: 15px;
        font-size: .14rem;
        margin-top: 5px;
    }

    .code_input {
        background-color: white;
        margin: 0 10%;
        padding: 5px 10px;
        border-radius: 5px;
    }

        .code_input input {
            border: none;
            font-size: .15rem;
        }

    .weui-label img {
        width: 15px;
        height: auto;
        position: relative;
        top: 2px;
    }

    .weui-label {
        width: 50px;
    }

    .weui-cell {
        padding: 5px 5px;
    }

    .login_btn {
        background-color: #5ec4ef;
        width: 80%;
        margin-left: 10%;
        margin-top: 40px;
        font-size: .16rem;
    }

        .login_btn:active {
            background-color: #43a7d2 !important;
            width: 80%;
            margin-left: 10%;
            margin-top: 40px;
        }
</style>
<body>
    <div class="login_bg">
        <div class="center">
            <p class="title">数学资产管理云平台</p>
            <p class="Etitle">Teaching Asset Manage</p>
            <div class="code_input">
                <div class="codepass">
                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <label class="weui-label">
                                <img src="~/Content/img/user_icon.png" />
                            </label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" name="userName" placeholder="请输入账号">
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <label class="weui-label">
                                <img src="~/Content/img/pass_icon.png" />
                            </label>
                        </div>
                        <div class="weui-cell__bd">
                            <input type="password" class="weui-input" name="psd" placeholder="请输入账号">
                        </div>
                    </div>
                </div>
            </div>
            <label class="my_protocol clear">
                <input class="input_agreement_protocol" type="checkbox" name="rember" />
                <span></span>
                <span>记住密码</span>
            </label>
            <a class="weui-btn weui-btn_primary login_btn">登录</a>
        </div>
    </div>
</body>
<script type="text/javascript">
    $(function () {
        try {
            var state = true;
            var userInfo = client.localStorage.getStorage("userinfo");
            if (userInfo) {
                $('input[name=userName]').val(userInfo.userName);
                if (userInfo.psd) {
                    $('input[name=psd]').val(userInfo.psd);
                    $('input[name=rember]').prop("checked", true);
                }
            }
            //绑定登录事件
            $('.login_btn').on("click", function () {
                var userName = $.trim($('input[name=userName]').val());
                var psd = $.trim($('input[name=psd]').val());
                //是否记住密码
                var rember = $('input[name=rember]').prop("checked");
                if (state) {
                    state = false;
                    $('.login_btn').text("登录中...");
                    client.ajax.postRequest("/User/Login", { userName: userName, psd: psd }, function (r) {
                        $('.login_btn').text("登录成功,即将跳转");
                        if (rember) {
                            //需要记住密码
                            client.localStorage.setStorage("userinfo", { userName: userName, psd: psd });
                        }
                        else {
                            client.localStorage.setStorage("userinfo", { userName: userName, psd: null });
                        }
                        setTimeout(function () {
                            if (r.data == 4) {//老师
                                location.href =client.baseUrl+"/Form/Teacher";
                            }
                            if (r.data == 1) {//维修单位
                                location.href = client.baseUrl + "/Form/Repair";
                            }
                            if (r.data == 2) {//维修人员
                                location.href = client.baseUrl + "/Form/RepairMan";
                            }
                            if (r.data == 3) {//学校领导
                                location.href = client.baseUrl + "/WorkOrder/Manager";
                            }
                        }, 500);
                    }, function (r) {
                        alert(r.info);
                        $('.login_btn').text("登录");
                        state = true;
                    });
                }
            });

        } catch (e) {
            alert(e.message)
        }
      
    });
</script>

