@{
    ViewBag.Title = "历史任务";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .bar-tab {
        background: -moz-linear-gradient(left,#2e8cbf,#3fbfe6); /*Mozilla*/
        background: -webkit-gradient(linear,0 50%,100% 50%,from(#2e8cbf),to(#3fbfe6)); /*Old gradient for webkit*/
        background: -webkit-linear-gradient(left,#2e8cbf,#3fbfe6); /*new gradient for Webkit*/
        background: -o-linear-gradient(left,#2e8cbf,#3fbfe6); /*Opera11*/
    }

        .bar-tab .tab-item .icon ~ .tab-label {
            color: white;
        }

    .icon-home:before {
        content: none;
    }

    .buttons-row .button.active {
        background: -moz-linear-gradient(left,#2e8cbf,#3fbfe6); /*Mozilla*/
        background: -webkit-gradient(linear,0 50%,100% 50%,from(#2e8cbf),to(#3fbfe6)); /*Old gradient for webkit*/
        background: -webkit-linear-gradient(left,#2e8cbf,#3fbfe6); /*new gradient for Webkit*/
        background: -o-linear-gradient(left,#2e8cbf,#3fbfe6); /*Opera11*/
        border: none;
        border-radius: 0;
    }

    .buttons-row .button {
        background: -moz-linear-gradient(left,white,#ededed); /*Mozilla*/
        background: -webkit-gradient(linear,0 50%,100% 50%,from(#fff),to(#ededed)); /*Old gradient for webkit*/
        background: -webkit-linear-gradient(left,#fff,#ededed); /*new gradient for Webkit*/
        background: -o-linear-gradient(left,#fff,#ededed); /*Opera11*/
        border: none;
        color: #333;
    }

    .buttons-row .button {
        height: 2.2rem;
        line-height: 2.2rem;
    }

    .content-block {
        margin: 0;
        padding: 0;
    }

    .select_box {
        float: left;
        width: 27%;
        border: 1px solid #b4b4b4;
        border-radius: .25rem;
        height: 1.4rem;
        line-height: 1.4rem;
        margin-left: 5px;
        padding: 0 2px;
       font-size: 14px;
        background-color: #f8f8f8;
    }

    .search_box {
        width: 27%;
        float: left;
           font-size: 14px;
    }

    .search-input input {
        background-color: #f8f8f8;
          font-size: 14px;
    }

    .see_box {
        display: inline-block;
        font-size: 14px;
        margin-left: 5px;
        background-color: #288bc3;
        color: white;
        padding: 0 0.7rem;
    }

    .title_box {
        margin: 0 5px;
    }

    .card {
        padding: 5px 0;
        box-shadow: none;
        margin: 0;
    }

        .card:nth-child(2n) {
            background-color: #f8f8f8;
        }

    .card-header {
        border: 0;
    }

    .card-footer:before {
        background: none;
    }

    .card-header:after {
        background: none;
    }

    .card-footer, .card-header {
        min-height: initial;
        padding: .1rem .75rem;
    }
</style>
<body>
    @Html.Partial("~/Views/Shared/_RepairManBar.cshtml")
    <!-- 这里是页面内容区 -->
    <div class="content">
        <div class="content-block">
            <div class="list HistoryWorkOrderList">
                <div style="text-align:center;display:none" class="no_tip">
                    <i style="font-size:20px;" class="iconfont icon-wushuju"></i><span></span>
                </div>
            </div>
        </div>
    </div>
</body>
<script id="HistoryWorkOrderList" type="text/html">
    {{each list item index}}
    <div class="card" data-ID="{{item.RecordID}}">
        <div class="card-footer"><span>{{item.FaultDate}}</span></div>
        <div class="card-footer">
            <span>{{item.OrgName}}{{item.HouseNo}}</span>
            {{if item.WorkOrderState==3}}
            <span>已结束</span>
            {{/if}}
            {{if item.WorkOrderState==4}}
            <span>已撤销</span>
            {{/if}}
        </div>
        <div class="card-header">
            <span>{{item.FaultName}}</span>
        </div>
        <div class="card-footer">
            <span>到场时间:{{item.FactStartDate}}</span>
        </div>
        <div class="card-footer">
            <span>处理时间:{{item.FactEndDate}}</span>
        </div>
    </div>
    {{/each}}
</script>
<script type="text/javascript">
    $(function () {
        //加载历史工单任务
        domin.loadHistoryWorkOrderList();
    });

    var domin = (function (obj) { return obj; }(new function () {

        var slideing = new slidepage();//保修数据滑动加载

        //事件绑定
        function bingEvent() {
            //查看详情
            $('.card').off("click").on("click", function (event) {
                event.stopPropagation();
                var RecordID = $(this).attr("data-ID");
                location.href = "/WorkOrder/Detail?ID=" + RecordID;
            });
        }

        //加载历史工单任务
        function loadHistoryWorkOrderList() {
            slideing.pageParameter.url = "/WorkOrder/GetWorkOrderList";
            slideing.pageParameter.params = "workOrderState=3,4";
            slideing.pageParameter.page = 1;
            slideing.pageParameter.rows = 10;
            slideing.pageParameter.tip = "暂无历史任务";
            slideing.pageParameter.callback = function (r) {
                var html = template("HistoryWorkOrderList", { list: r.rows });
                $('.HistoryWorkOrderList').append(html);
                bingEvent();
            }
            slideing.initslide();
        }

        return {
           // bingEvent: bingEvent,
            loadHistoryWorkOrderList: loadHistoryWorkOrderList
        }

    }));
</script>

