
@{
    ViewBag.Title = "维修任务";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model LoginCacheInfo
<style>
    .bar-tab {
        background: -moz-linear-gradient(left,#2e8cbf,#3fbfe6); /*Mozilla*/
        background: -webkit-gradient(linear,0 50%,100% 50%,from(#2e8cbf),to(#3fbfe6)); /*Old gradient for webkit*/
        background: -webkit-linear-gradient(left,#2e8cbf,#3fbfe6); /*new gradient for Webkit*/
        background: -o-linear-gradient(left,#2e8cbf,#3fbfe6); /*Opera11*/
    }

        .bar-tab .tab-item .icon ~ .tab-label {
            color: white;
        }

    .icon-home:before {
        content: none;
    }

    .buttons-row .button.active {
        background: -moz-linear-gradient(left,#2e8cbf,#3fbfe6); /*Mozilla*/
        background: -webkit-gradient(linear,0 50%,100% 50%,from(#2e8cbf),to(#3fbfe6)); /*Old gradient for webkit*/
        background: -webkit-linear-gradient(left,#2e8cbf,#3fbfe6); /*new gradient for Webkit*/
        background: -o-linear-gradient(left,#2e8cbf,#3fbfe6); /*Opera11*/
        border: none;
        border-radius: 0;
    }

    .buttons-row .button {
        background: -moz-linear-gradient(left,white,#ededed); /*Mozilla*/
        background: -webkit-gradient(linear,0 50%,100% 50%,from(#fff),to(#ededed)); /*Old gradient for webkit*/
        background: -webkit-linear-gradient(left,#fff,#ededed); /*new gradient for Webkit*/
        background: -o-linear-gradient(left,#fff,#ededed); /*Opera11*/
        border: none;
        color: #333;
    }

    .buttons-row .button {
        height: 2.2rem;
        line-height: 2.2rem;
    }

    .content-block {
        margin-top: 2.9rem;
        padding: 0;
    }

    .select_box {
        float: left;
        width: 27%;
        border: 1px solid #b4b4b4;
        border-radius: .25rem;
        height: 1.4rem;
        line-height: 1.4rem;
        margin-left: 5px;
        padding: 0 2px;
         font-size: 14px;
        background-color: #f8f8f8;
    }
           .buttons-row .button:first-child {
            border-left-width: 0px;
                border-left-style: solid;
                border-radius:0
        }
    .search_box {
        width: 27%;
        float: left;
          font-size: 14px;
    }

    .search-input input {
        background-color: #f8f8f8;
          font-size: 14px;
    }

    .see_box {
        display: inline-block;
          font-size: 14px;
        margin-left: 5px;
        background-color: #288bc3;
        color: white;
        padding: 0 0.7rem;
    }

    .title_box {
        margin: 0 5px;
    }

    .card {
        padding: 5px 0;
        box-shadow: none;
        margin: 0;
    }

        .card:nth-child(2n) {
            background-color: #f8f8f8;
        }

    .card-header {
        border: 0;
    }

    .card-footer:before {
        background: none;
    }

    .card-header:after {
        background: none;
    }

    .card-footer, .card-header {
        min-height: initial;
        padding: .1rem .75rem;
    }

    .list {
        margin-top: 10px;
    }
    .hide{
        display:none;
    }
</style>
<body style="overflow:auto">
    <div class="buttons-row" style="position:fixed;top:0px;width:100%;z-index:100;">
        <a class="tab-link button active">执行中</a>
        <a class="tab-link button">已结束</a>
    </div>
    @Html.Partial("~/Views/Shared/_RepairManagerBar.cshtml",Model)
    <!-- 这里是页面内容区 -->
    <div class="content_list" style="margin-top:50px;margin-bottom:50px;">
        <!--执行中-->
        <div class="list WorkOrderIng">
            <div style="text-align:center;display:none" class="no_tip">
                <i style="font-size:20px;" class="iconfont icon-wushuju"></i><span></span>
            </div>
        </div>
    </div> 
    <div class="content_list hide" style="margin-top:50px;margin-bottom:50px;">
        <!--已结束-->
        <div class="list WorkOrderEnd">
            <div style="text-align:center;display:none" class="no_tip">
                <i style="font-size:20px;" class="iconfont icon-wushuju"></i><span></span>
            </div>
        </div>
    </div>
</body>
<script id="WorkOrderIngList" type="text/html">
    {{each list item index}}
    <div class="card" data-ID="{{item.RecordID}}">
        <div class="card-footer"><span>{{item.DealDate}}</span></div>
        <div class="card-footer">
            <span>{{item.IntegratorName}}</span>
            <span>{{item.DispatcherName}}</span>
            {{if item.WorkOrderState==0}}
                <span>待审批</span>
            {{/if}}
            {{if item.WorkOrderState==1}}
                <span>驳回待重新提交</span>
            {{/if}}
            {{if item.WorkOrderState==2}}
                <span>待评价</span>
            {{/if}}
        </div>
        <div class="card-header">
            <span>{{item.FaultName}}</span> 
        </div>
        <div class="card-footer">
            <span>到场时间:{{getInervaldate(item.DispatchDate,item.FactStartDate)}}</span>
        </div>
        <div class="card-footer">
            <span>处理时间:{{getInervaldate(item.FactStartDate,item.FactEndDate)}}</span>
            <span>
                <a class="button see_box progress">查看进度</a>
            </span>
        </div>
    </div>
    {{/each}}
</script>
<script id="WorkOrderEndList" type="text/html">
    {{each list item index}}
    <div class="card" data-ID="{{item.RecordID}}">
        <div class="card-footer"><span>{{item.DealDate}}</span></div>
        <div class="card-footer">
            <span>{{item.IntegratorName}}</span>
            <span>{{item.DispatcherName}}</span>
        </div>
        <div class="card-header">
            <span>{{item.FaultName}}</span>
        </div>
        <div class="card-footer">
            <span>到场时间:{{getInervaldate(item.DispatchDate,item.FactStartDate)}}</span>
        </div>
        <div class="card-footer">
            <span>处理时间:{{getInervaldate(item.FactStartDate,item.FactEndDate)}}</span>
            <span>
                <a class="button see_box progress">查看进度</a>
            </span>
        </div>
    </div>
    {{/each}}
</script>
<script id="FormProgress" type="text/html">
    <div style="text-align:left;font-size:12px;">
        {{if item.WorkOrderState>=2}}
        <!--通过审批-->
        <p>
            <span>{{item.ApproveDate}}</span>
            <span>{{item.OrgName}}</span>
            <span>{{item.ApproveName}}审批通过</span>
        </p>
        {{/if}}
        {{if item.WorkOrderState>=1}}
        <!--不通过审批-->
        <p>
            <span>{{item.ApproveDate}}</span>
            <span>{{item.OrgName}}</span>
            <span>{{item.ApproveName}}审批不通过</span>
        </p>
        {{/if}}
        {{if item.WorkOrderState==4}}
        <!--报修单撤回-->
        <p>
            <span>{{item.CancelDate}}</span>
            {{if item.roleType!=4}}
            <span>{{item.OrgName}}</span>
            {{/if}}
            <span>{{item.CancelerName}}撤回</span>
        </p>
        {{/if}}    
        <!--派工信息-->
        <p>
            <span>{{item.ResponseDate}}</span>
            <span>{{item.IntegratorName}}派工</span>
            <span>{{item.ServiceHeaderName}}</span>
            <span>{{item.ServiceHeaderContactNumber}}</span>
            <span>预计{{item.PlanStartDate}}到达</span>
        </p>
        <!--响应信息-->
        <p>
            <span>{{item.ResponseDate}}</span>
            {{if item.roleType!=1}}
            <span>{{item.IntegratorName}}</span>
            {{/if}}
            <span>{{item.ResponserName}}</span>
            <span>响应</span>
        </p>
        <!--创建信息-->
        <p>
            <span>{{item.ApplyDate}}</span>
            {{if item.roleType!=4}}
            <span>{{item.OrgName}}</span>
            {{/if}}
            <span>{{item.ApplyerName}}创建报修单</span>
        </p>
    </div>
</script>
<script type="text/javascript">
    $(function () {
        var tab_order = client.localStorage.getStorage("tab_order");
        domin.bingEvent();
        if (tab_order == 1) {
            $('.tab-link').eq(1).click();
            client.localStorage.removeStorage("tab_order");
        }
        else {
            domin.loadWorkOrderIngData();
            Isloading = true;
        }
    });

    var domin = (function (obj) { return obj; }(new function () {

        var slideing = new slidepage();
        var slideend = new slidepage();
        var Isloading = false;//是否加载了执行中订单
        var Isloadend = false;//是否加载了保修结束订单

        //求时间差
        template.defaults.imports.getInervaldate = function (StartTime, EndTime) {
            //获取两个时间差    
            if (StartTime && EndTime) {
                var stime = Date.parse(new Date(StartTime.replace(/-/g, "/")));
                var etime = Date.parse(new Date(EndTime.replace(/-/g, "/")));
                var usedTime = etime - stime;  //两个时间戳相差的毫秒数
                var days = Math.floor(usedTime / (24 * 3600 * 1000));
                //计算出小时数
                var leave1 = usedTime % (24 * 3600 * 1000);    //计算天数后剩余的毫秒数
                var hours = Math.floor(leave1 / (3600 * 1000));
                //计算相差分钟数
                var leave2 = leave1 % (3600 * 1000);        //计算小时数后剩余的毫秒数
                var minutes = Math.floor(leave2 / (60 * 1000));
                var time = days + "天" + hours + "小时" + minutes + "分钟";
                return time;
            }
            else {
                return "";
            }
        }

        //事件绑定
        function bingEvent() {
            //tab的切换
            $('.tab-link').on("click", function () {
                $(this).addClass("active").siblings().removeClass("active");
                var index = $(this).index();
                $('.content_list').addClass("hide");
                $('.content_list').eq(index).removeClass("hide");
                if (index == 1 && Isloadend == false) {
                    Isloadend = true;
                    //加载保修结束订单
                    domin.loadWorkOrderEndData();
                }
                if (index == 0 && Isloading == false) {
                    Isloading = true;
                    domin.loadWorkOrderIngData();
                }
            });
        }

        //初始化时间控件
        function initControl() {
            $("input[name=startDate]").datetimePicker();
            $("input[name=endDate]").datetimePicker();
        }

        //绑定详情事件
        function bingElement() {
            //跳转详情
            $('.card').off("click").on("click", function () {
                var index= $('.active').index();
                client.localStorage.setStorage("tab_order", index);
                var RecordID = $(this).attr("data-ID");
                location.href = client.baseUrl + "/WorkOrder/Detail?ID=" + RecordID;
            });

            //查看进度
            $('.progress').off("click").on("click", function (event) {
                event.stopPropagation();
                var RecordID = $(this).parents(".card").attr("data-ID");
                var RepairApplyState = $(this).parents(".card").attr("data-RepairApplyState");//报修单状态
                var sUrl ="/WorkOrder/GetInfoById";
                client.ajax.getRequest(sUrl, { ID: RecordID }, function (r) {
                    var info = JSON.parse(r.data.info);
                    info.roleType = r.data.roleType;
                    info.RepairApplyState = RepairApplyState;
                    var html = template("FormProgress", { item: info });
                    $.modal({
                        title: " ",
                        text: html,
                        buttons: [
                          { text: "确定", className: "default" },
                        ]
                    });
                });
            });
        }

        //加载进行中数据
        function loadWorkOrderIngData() {
            slideing.pageParameter.url = "/Form/GetRepairApplyList";
            slideing.pageParameter.params = "state=0";
            slideing.pageParameter.page = 1;
            slideing.pageParameter.rows = 10;
            slideing.pageParameter.tipId = '.WorkOrderIng';
            slideing.pageParameter.tip = "暂无执行中的维修任务";
            slideing.pageParameter.callback = function (r) {
                var html = template("WorkOrderIngList", { list: r.rows });
                $('.WorkOrderIng').append(html);
                bingElement();
            }
            slideing.initslide();
        }

        //加载保修结束订单
        function loadWorkOrderEndData() {
            slideend.pageParameter.url = "/WorkOrder/GetWorkOrderList";
            slideend.pageParameter.params = "state=1";
            slideend.pageParameter.page = 1;
            slideend.pageParameter.rows = 10;
            slideend.pageParameter.tipId = '.WorkOrderEnd';
            slideend.pageParameter.tip = "暂无已结束的维修任务";
            slideend.pageParameter.callback = function (r) {
                var html = template("WorkOrderEndList", { list: r.rows });
                $('.WorkOrderEnd').append(html);
                bingElement();
            }
            slideend.initslide();
        }

        return {
            bingEvent: bingEvent,
            loadWorkOrderIngData: loadWorkOrderIngData,
            loadWorkOrderEndData: loadWorkOrderEndData
        }
    }));
</script>
