
@{
    ViewBag.Title = "保修首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .bar-tab .tab-item .icon .tab-label {
        color: white;
    }

    .icon-home:before {
        content: none;
    }

    .buttons-row .button.active {
        background: -moz-linear-gradient(left, #2e8cbf, #3fbfe6); /*Mozilla*/
        background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#2e8cbf), to(#3fbfe6)); /*Old gradient for webkit*/
        background: -webkit-linear-gradient(left, #2e8cbf, #3fbfe6); /*new gradient for Webkit*/
        background: -o-linear-gradient(left, #2e8cbf, #3fbfe6); /*Opera11*/
        border: none;
        border-radius: 0;
    }

    .buttons-row .button {
        background: -moz-linear-gradient(left, white, #ededed); /*Mozilla*/
        background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#fff), to(#ededed)); /*Old gradient for webkit*/
        background: -webkit-linear-gradient(left, #fff, #ededed); /*new gradient for Webkit*/
        background: -o-linear-gradient(left, #fff, #ededed); /*Opera11*/
        border: none;
        color: #333;
    }

    .buttons-row .button {
        height: 2.2rem;
        line-height: 2.2rem;
    }

    .content-block {
        margin-top: 2.9rem;
        padding: 0;
    }

    .select_box {
        float: left;
        width: 35%;
        border: 1px solid #b4b4b4;
        border-radius: .25rem;
        height: 1.4rem;
        line-height: 1.4rem;
        margin-left: 5px;
        padding: 0 2px;
          font-size: 14px;
        background-color: #f8f8f8;
    }

    .search_box {
        width: 27%;
        float: left;
          font-size: 14px;
    }

    .search-input input {
        background-color: #f8f8f8;
         font-size: 14px;
    }

    .see_box {
        display: inline-block;
        font-size: 14px;
        margin-left: 5px;
        background-color: #288bc3;
        color: white;
        padding: 0 0.7rem;
    }

    .title_box {
        margin: 0px 5px 15px 5px;
    }

    .card {
        padding: 5px 0;
        box-shadow: none;
        margin: 0;
    }

        .card:nth-child(2n) {
            background-color: #f8f8f8;
        }

    .card-header {
        border: 0;
    }

    .card-footer:before {
        background: none;
    }

    .card-header:after {
        background: none;
    }

    .card-footer, .card-header {
        min-height: initial;
        padding: .1rem .75rem;
    }

    .list {
        margin:3rem 0
    }

    .bar {
        background: -moz-linear-gradient(left, #2e8cbf, #3fbfe6); /*Mozilla*/
        background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#2e8cbf), to(#3fbfe6)); /*Old gradient for webkit*/
        background: -webkit-linear-gradient(left, #2e8cbf, #3fbfe6); /*new gradient for Webkit*/
        background: -o-linear-gradient(left, #2e8cbf, #3fbfe6); /*Opera11*/
        color: white;
    }

    .bar-nav img {
        width: 15px;
        position: relative;
        margin-right: 8px;
        top: 1px;
    }

    .bar-nav a {
        color: white;
        line-height: 2.2rem;
    }

    .content-block {
        margin-top: 0rem;
        padding: 0;
    }

    .card {
        padding: 5px 0;
        box-shadow: none;
        margin: 0;
    }

    .card:nth-child(2n) {
        background-color: #f8f8f8;
    }

    .card-header {
        border: 0;
    }

    .card-footer:before {
        background: none;
    }

    .card-header:after {
        background: none;
    }

    .card-footer, .card-header {
        min-height: initial;
        padding: .1rem .75rem;
    }

    .search_time img {
        width: 15px;
        position: relative;
        margin-right: 8px;
        top: 1px;
    }

    .search_time a {
        color: white;
    }

    .footter {
        background: -moz-linear-gradient(left, #2e8cbf, #3fbfe6); /*Mozilla*/
        background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#2e8cbf), to(#3fbfe6)); /*Old gradient for webkit*/
        background: -webkit-linear-gradient(left, #2e8cbf, #3fbfe6); /*new gradient for Webkit*/
        background: -o-linear-gradient(left, #2e8cbf, #3fbfe6); /*Opera11*/
        text-align: center;
        color: white;
        height: 2.5rem;
        line-height: 2.5rem;
        position: fixed;
        width: 100%;
        bottom: 0;
    }

        .footter img {
            width: 15px;
            margin-right: 10px;
        }

        .footter a {
            color: white;
        }

    .hide {
        display: none;
    }
    .buttons-row, .buttons-tab {
            flex-wrap: nowrap;
            top: 0;
            width: 100%;
            position: fixed;
            height: .44rem;
            z-index: 3;
      
    }
        .buttons-row .button:first-child {
            border-left-width: 0px;
                border-left-style: solid;
                border-radius:0
        }
    .weui-btn_mini {
            display: inline-block;
            padding: 0 1.32em;
            line-height: 2;
            font-size: 13px;
    
    }
    .weui-btn:after {
           content: " ";
        width: 200%;
        height: 200%;
        position: absolute;
        top: 0;
        left: 0;
        border: none;
    }
    .weui-btn {
        position: relative;
        display: block;
         margin-left: 0; 
         margin-right: 0; 
        padding-left: 14px;
        padding-right: 14px;
        box-sizing: border-box;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        line-height:2;
        border-radius: 5px;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        overflow: hidden;
        border: 1px solid #cacaca;
        font-size:.13rem
    }

</style>
<body style="overflow:auto">
        <!-- 单个page ,第一个.page默认被展示-->
<div class="buttons-row clear">
    <a class="tab-link button active">进行中</a>
    <a class="tab-link button">已结束</a>
</div>
<!--</header>-->
<!-- 这里是页面内容区 -->
    <!--进行中保单-->
    <div class="content_list list forming">
        <div style="text-align:center;display:none" class="no_tip">
             <i style="font-size:20px;" class="iconfont icon-wushuju"></i><span></span>
        </div>
    </div>
    <!--已经结束保单-->
    <div class="content_list list hide">
        <div class="title_box">
            <div class="big_select_box">
                <input type="text" name="startDate" class="select_box" />
                <span style="float: left;margin-left: 5px">-</span>
                <input type="text" name="endDate" class="select_box" />
            </div>
            <a class="button see_box search">查询</a>
        </div>
        <!--已经结束保单-->
        <div class="formend">
            <div style="text-align:center;display:none" class="no_tip">
                <i style="font-size:20px;" class="iconfont icon-wushuju"></i><span></span>
            </div>
        </div>
       </div>
        <div class="footter">
            <a><img src="~/Content/img/add_icon.png" />新建报修单</a>
        </div>
</body>
<script id="formingList" type="text/html">
    {{each list item index}}
        <div class="card" data-ID="{{item.RecordID}}" data-RepairApplyState="{{item.RepairApplyState}}">
            <div class="card-footer"><span>{{item.ApplyDate}}</span></div>
            <div class="card-header">
                <span>{{item.FaultName}}</span>
                {{if item.RepairApplyState==0}}
                <img src="/eduasset_chat/Content/img/time_icon.png" height="20" width="20" />
                {{else}}
                <img src="/eduasset_chat/Content/img/timeing_icon.png" height="20" width="20" />
                {{/if}}
            </div>
            <div class="card-footer">
                <span>{{item.IntegratorName}}</span>
                {{if item.RepairApplyState==0}}
                <span style="display:inline-block;float:right">待响应</span>
                {{/if}}
                {{if item.RepairApplyState==1||item.RepairApplyState==2}}
                <span style="display:inline-block;float:right">已响应</span>
                {{/if}}
                {{if item.RepairApplyState>2&&item.RepairApplyState<=5}}
                <span style="display:inline-block;float:right">执行中</span>
                {{/if}}
                {{if item.RepairApplyState==6}}
                <span style="display:inline-block;float:right">待评价</span>
                {{/if}}
            </div>
            <div class="card-footer">
                {{if item.RepairApplyState>=3}}
                     <span>到场时间:{{getInervaldate(item.ApplyDate,item.FactStartDate)}}</span>
                {{else}}
                     <span></span>
                {{/if}}
                <span>    
                    {{if item.RepairApplyState==1}}
                    <a class="button see_box opinion">应急措施</a>
                    {{/if}}
                    {{if item.RepairApplyState==6}}
                        <a class="button see_box parse_form">服务评价</a>
                    {{/if}}
                    <a class="button see_box progress">查看进度</a>
                </span>
            </div>
        </div>
    {{/each}}
</script>
<script id="formendList" type="text/html">
    {{each list item index}}
    <div class="card" data-ID="{{item.RecordID}}" data-RepairApplyState="{{item.RepairApplyState}}" data-DealType="{{item.DealType}}">
        <div class="card-footer"><span>{{item.ApplyDate}}</span></div>
        <div class="card-header">
            <span>{{item.FaultName}}</span>
            <img src="/eduasset_chat/Content/img/timeend_icon.png" height="20" width="20" />
        </div>
        <div class="card-footer">
            <span>{{item.IntegratorName}}</span>
            {{if item.RepairApplyState==7}}
            <span style="display:inline-block;float:right">已结束</span>
            {{/if}}
            {{if item.RepairApplyState==8}}
            <span style="display:inline-block;float:right">已撤销</span>
            {{/if}}
        </div>
        <div class="card-footer">
            {{if item.DealType==0&&item.RepairApplyState==6}}
                <span>到场时间:{{getInervaldate(item.ApplyDate,item.FactStartDate)}}</span>
            {{else}}
                <span></span>
            {{/if}}
            <span>
                <a class="button see_box progress">进度记录</a>
            </span>
        </div>
    </div>
    {{/each}}
</script>
<script  id="FormProgress" type="text/html">
    <div style="text-align:left;font-size:12px;">
        {{if item.RepairApplyState==8}}
            <!--撤销信息-->
            <p>
                <span>{{item.CancelDate}}</span>
                {{if item.roleType!=4}}
                <span>{{item.OrgName}}</span>
                {{/if}}
                <span>{{item.CancelerName}}撤销报修单</span>
            </p>
            <!--创建信息-->
            <p>
                <span>{{item.ApplyDate}}</span>
                {{if item.roleType!=4}}
                <span>{{item.OrgName}}</span>
                {{/if}}
                <span>{{item.ApplyerName}}创建报修单</span>
            </p>
        {{else}}
            {{if item.WorkOrderState>=2}}
            <!--通过审批-->
            <p>
                <span>{{item.ApproveDate}}</span>
                <span>{{item.IntegratorName}}</span>
                <span>{{item.ApproveName}}审批通过</span>
            </p>
            {{/if}}
            {{if item.WorkOrderState>=1}}
                <!--不通过审批-->
                <p>
                    <span>{{item.ApproveDate}}</span>
                    <span>{{item.IntegratorName}}</span>
                    <span>{{item.ApproveName}}审批不通过</span>
                </p>
            {{/if}}
            {{if item.WorkOrderState==4}}
                <!--报修单撤回-->
                <p>
                    <span>{{item.CancelDate}}</span>
                    {{if item.roleType!=4}}
                    <span>{{item.OrgName}}</span>
                    {{/if}}
                    <span>{{item.CancelerName}}撤回</span>      
                </p>
            {{/if}}
            {{if item.RepairApplyState==2}}
                <!--派工信息-->
                <p>
                    <span>{{item.ResponseDate}}</span>
                    <span>{{item.IntegratorName}}派工</span>
                    <span>{{item.ServiceHeaderName}}</span>
                    <span>{{item.ServiceHeaderContactNumber}}</span>
                    <span>预计{{item.PlanStartDate}}到达</span>
                </p>
            {{/if}}
                {{if item.RepairApplyState==1||item.DealType==1}}
                <!--建议措施-->
                <p>
                    <span>{{item.ResponseDate}}</span>
                    <span>{{item.IntegratorName}}</span>
                    <span>{{item.ResponserName}}给出建议措施</span>
                </p>
                {{/if}}
            {{if item.RepairApplyState>=1}}
                <!--响应信息-->
                <p>
                    <span>{{item.ResponseDate}}</span>
                    {{if item.roleType!=1}}
                    <span>{{item.IntegratorName}}</span>
                    {{/if}}
                    <span>{{item.ResponserName}}</span>
                    <span>响应</span>
                </p>
            {{/if}}
            {{if item.RepairApplyState>=0}}
                <!--创建信息-->
                <p>
                    <span>{{item.ApplyDate}}</span>
                    {{if item.roleType!=4}}
                     <span>{{item.OrgName}}</span>
                    {{/if}}
                    <span>{{item.ApplyerName}}创建报修单</span>
                </p>
            {{/if}}
        {{/if}}
    </div>
</script>
<script type="text/javascript">
    $(function () {
        domin.bingEvent();
        domin.initControl();
        domin.initPage();
    });
    
    var domin = (function (obj) { return obj; }(new function () {

        var slideing = new slidepage();//保修数据滑动加载
        var slideend = new slidepage();//结束数据滑动加载
        var Isloading = false;//是否加载进行中的报修单
        var Isloadend = false;//是否加载了保修结束订单
        //求时间差
        template.defaults.imports.getInervaldate = function (ApplyDate,faultDate) {
            //获取两个时间差       
            var stime = Date.parse(new Date(ApplyDate.replace(/-/g, "/")));
            var etime = Date.parse(new Date(faultDate.replace(/-/g, "/")));
            var usedTime = etime - stime;  //两个时间戳相差的毫秒数
            var days = Math.floor(usedTime / (24 * 3600 * 1000));
            //计算出小时数
            var leave1 = usedTime % (24 * 3600 * 1000);    //计算天数后剩余的毫秒数
            var hours = Math.floor(leave1 / (3600 * 1000));
            //计算相差分钟数
            var leave2 = leave1 % (3600 * 1000);        //计算小时数后剩余的毫秒数
            var minutes = Math.floor(leave2 / (60 * 1000));
            var time = days + "天" + hours + "小时" + minutes + "分钟";
            return time;
        }

        //页面初始化
        function initPage() {
            var tab_order = client.localStorage.getStorage("tab_order_teacher");
            if (tab_order == 1) {
                $('.tab-link').eq(1).click();
                client.localStorage.removeStorage("tab_order_teacher");
            }
            else {
                Isloading = true;
                loadingData();
            }
        }

        //事件绑定
        function bingEvent() {
            //tab的切换
            $('.tab-link').on("click", function () {
                $(this).addClass("active").siblings().removeClass("active");
                var index = $(this).index();
                $('.content_list').addClass("hide");
                $('.content_list').eq(index).removeClass("hide");
                if (index == 1 && Isloadend == false) {
                    Isloadend = true;
                    //加载保修结束订单
                    loadendData();
                }
                if (index == 0 && Isloading == false) {
                    Isloading = true;
                    //加载保修进行中订单
                    loadingData();
                }
            });

            //根据时间查询报修单
            $('.search').on("click", function () {
                $('.formend .card').remove();
                var startDate = $('input[name=startDate]').val();
                var endDate = $('input[name=endDate]').val();
                slideend.pageParameter.page = 1;
                slideend.pageParameter.params = "startDate=" + startDate + "&endDate=" + endDate;
                slideend.slideRequest();
            });

            //添加保修跳转
            $('.footter').on("click", function () {
                location.href =client.baseUrl+"/Form/Insert";
            });

        }

        //初始化时间控件
        function initControl() {
            $("input[name=startDate]").datetimePicker();
            $("input[name=endDate]").datetimePicker();
        }

        //绑定详情事件
        function bingElement() {
            //绑定详情事件
            $('.card').off("click").on("click", function () {
                var index = $('.active').index();
                client.localStorage.setStorage("tab_order_teacher", index);
                var RecordID = $(this).attr("data-ID");
                var RepairApplyState = $(this).attr("data-RepairApplyState");////报修单状态
                var DealType = $(this).attr("data-DealType");////响应方式，0-派工，1-建议措施
                if (RepairApplyState < 3 || DealType == 1 || RepairApplyState==8) {
                    //查看报修单详情
                    location.href=client.baseUrl+"/Form/Detail?ID=" + RecordID;
                }
                else {
                    //查看工单详情
                    location.href =client.baseUrl+"/WorkOrder/Detail?repairApplyId=" + RecordID;
                }
            });

            //服务评价
            $('.parse_form').off("click").on("click", function (event) {
                event.stopPropagation();
                var RecordID = $(this).parents(".card").attr("data-ID");
                location.href =client.baseUrl+"/WorkOrder/Detail?repairApplyId=" + RecordID;
            });

            //查看进度
            $('.progress').off("click").on("click", function (event) {
                event.stopPropagation();
                var RecordID = $(this).parents(".card").attr("data-ID");
                var RepairApplyState = $(this).parents(".card").attr("data-RepairApplyState");//报修单状态
                var DealType = $(this).parents(".card").attr("data-DealType");////响应方式，0-派工，1-建议措施
                var param = {};
                if (RepairApplyState < 3 || DealType == 1 || RepairApplyState ==8) {
                    sUrl ="/Form/GetInfoById";
                    param.ID = RecordID;
                }
                else {
                    sUrl ="/WorkOrder/GetInfoById";
                    param.repairApplyId = RecordID;
                }
                client.ajax.getRequest(sUrl, param, function (r) {
                    var info = JSON.parse(r.data.info);
                    info.roleType = r.data.roleType;
                    info.RepairApplyState = RepairApplyState;
                    var html = template("FormProgress", { item: info });
                    $.modal({
                        title: " ",
                        text: html,
                        buttons: [
                          { text: "确定", className: "default" },
                        ]
                    });
                });
            });

            //查看应急措施
            $(".opinion").off("click").on("click", function (event) {
                event.stopPropagation();
                var RecordID = $(this).parents(".card").attr("data-ID");
                //获取报修单详情
                client.ajax.getRequest("/Form/GetInfoById", { ID: RecordID }, function (r) {
                    var info = JSON.parse(r.data.info);
                    var opinion = info.ResponseOpinion;
                    var html = template("FormProgress", { item: info });
                    $.modal({
                        title: "建议措施",
                        text: opinion,
                        buttons: [
                          { text: "取消", className: "default" },
                          {
                              text: "确定",onClick: function () {
                                  //报修单确认
                                  submitDatas = {};
                                  submitDatas.ID = RecordID;
                                  client.ajax.postRequest("/Form/ConfirmRepairApply", { submitDatas: JSON.stringify(submitDatas) }, function (r) {
                                      $.toast(r.info);
                                      setTimeout(function () {
                                          location.reload();
                                      },1000)
                                  });
                              }
                          },
                        ]
                    });
                });
            });
        }

        //加载进行中报修订单
        function loadingData() {
            slideing.pageParameter.url = "/Form/GetRepairApplyList";
            slideing.pageParameter.params = "state=0";
            slideing.pageParameter.page = 1;
            slideing.pageParameter.rows = 10;
            slideing.pageParameter.tipId = '.forming';
            slideing.pageParameter.tip = "暂无进行中的报修单";
            slideing.pageParameter.callback = function (r) {
                r.rows = r.rows.sort(compare);
                var html = template("formingList", { list: r.rows });
                $('.forming').append(html);
                bingElement();
            }
            slideing.initslide();
        }

        //排序
        var compare = function (obj1, obj2) {
            var val1 = Number(obj1.RepairApplyState);
            var val2 = Number(obj2.RepairApplyState);
            if (val1 < val2) {
                return -1;
            } else if (val1 > val2) {
                return 1;
            } else {
                return 0;
            }
        }

        //加载保修结束订单
        function loadendData() {
            slideend.pageParameter.url = "/Form/GetRepairApplyList";
            slideend.pageParameter.params = "state=1";
            slideend.pageParameter.page = 1;
            slideend.pageParameter.rows = 10;
            slideend.pageParameter.tipId = '.formend';
            slideend.pageParameter.tip = "暂无结束的报修单";
            slideend.pageParameter.callback = function (r) {
                var html = template("formendList", { list: r.rows });
                $('.formend').append(html);
                bingElement();
            }
            slideend.initslide();
        }

        return {
            initPage:initPage,
            bingEvent: bingEvent,
            initControl:initControl,
            loadingData: loadingData,
            loadendData: loadendData
        }

    }));
  
</script>
